Week2/scrabble
Week2/readability
Week1/.vscode/settings.json
Week3/sort/random5000.txt
Week3/sort/random10000.txt
Week3/sort/reversed5000.txt
Week3/sort/sort1
Week3/sort/random50000.txt
Week3/sort/reversed10000.txt
Week3/sort/reversed50000.txt
Week3/sort/sort2
Week3/sort/sort3
Week3/sort/sorted5000.txt
Week3/sort/sorted50000.txt
Week3/sort/sorted10000.txt
Week5/speller/keys/*
Week5/speller/texts/*

